
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  .text-gray{
    color: #424242;
  }
  .text-light-gray{
    color: #727272;
  }


  /* header styles */

  /* navbar related styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
   
  }
  .brand{
    font-weight: 700;
    font-size: 1.3rem;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1rem;
    font-weight: 600;
    border-radius:8px ;
    border: none;

  }
  .navbar, . banner{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* banner reletate style */
  .banner-content{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 2.5rem;
  }
  .banner-description{
    font-size: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

   /* responsive media */
  @media screen and (max-width:546px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    
  }