
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  .text-gray{
    color: #424242;
  }
  .text-light-gray{
    color: #727272;
  }


  /* header styles */

  /* navbar related styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
   
  }
  .brand{
    font-weight: 700;
    font-size: 1.3rem;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1rem;
    font-weight: 600;
    border-radius:8px ;
    border: none;

  }
  .navbar, . banner{
    max-width: 1440px;
    margin: 0 auto;
  }

  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  main > section{
    margin-top: 60px;
  }

  /* banner reletate style */
  .banner-content{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 2.5rem;
  }
  .banner-description{
    font-size: 10px;
  }
  img {
   width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  /* feature section */

  #feature-section-title{
    padding-left: 20px;
    border-left: 5px solid #FF900E;
  }

  .feature-card1{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px 0 rgba(9, 1, 1, 0.06);
    margin-bottom: 20px;
   
  }
  .features{
    gap:50px;
  }

  #experience{
    padding: 20px 15px;
    font-size: 10px;
    margin-left: -70px;
    margin-top: -70px;
  }
  #experience-year{
    font-size: 30px;
    font-weight: 700;
  }
  .ima2{
    width: 100%;
  }
  .feature-description{
    font-size: 10px;
  }
  #paragrap2{
    font-size:10px ;
    margin-left: 25px;
  }

  #paragrap{
    font-size: 10px;
  }
  .feature-card1 .feature-title1{
   font-weight: 600;
    font-size: 1.10rem;
    margin-top: 0px;
    margin-bottom: 0px;
   
  }
  

  /* team feature relatate */
  .teams{
    align-items: center;
  }
  .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:14px;
    margin-left: 30px;
  }
  .our-features{
    margin-left: 60px;
    max-width: 530px;
  }
  .image{
    width: 150px;
  }
  .text-primary{
    color: #FF900E;
  }
  .facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
  }
  .facts-section{
    text-align: center;
  }

  .fact-card{
    border: 1px solid #FF900E;
    width:120px;
    height: 150px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
   margin: 0 auto;
  }
  .fact-img{
    width:45px;
    margin-top: 10px;
  }
  /* spnonson */
  .sponson-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }

  .sponson-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  /* .symbol{
    width:50px
  } */

  .sponson-companies img{
    width:70px;
    filter: grayscale(100%)
  }
  .bg-light2{
    height: 50px;
    background-color: rgba(255, 144, 14, 0.1);
  }
  .last{
    font-size: 10px;
    font-weight: 400;
    text-align: center;
   
  
    padding-top: 10px;
  }

   /* responsive media */
  @media screen and (max-width:546px) {
    .navbar, 
    .features,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .teams-img-container,
     .facts-container,
     .sponson-companies{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container,
    .sponson-companies{
        justify-items: center;
        gap:24px;
    }
    #experience{
     margin-top: 20px;
     margin-left: 20px;
    }
    .our-features{
        margin-left: 20px;
    }
    
  }

  @media screen and (min-width:546px) and (max-width:720px) {
    .teams,
    .features{
        flex-direction: column;
    }
    .sponson-companies{
        grid-template-columns: repeat(3, 1fr);
        gap:50px;
        justify-items: center;
    }
  }